<div class="section post-section pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <img src="{{file_url(node.owner.user_picture.entity.uri.value)}}" alt="Image" class="author-pic img-fluid rounded-circle mx-auto">
                </div>
                <span class="d-block text-center">{{ node.owner.label }}</span>
                <span class="date d-block text-center small text-uppercase text-black-50 mb-5">{{ node.created.value | date('M d, Y') }}</span>
                <h2 class="heading text-center">{{ node.label }}</h2>
                <br>
                {{ content }}
                <div class="row mt-5 pt-5 border-top">
                    <div class="col-12">
                        <span class="fw-bold text-black small mb-1">Share</span>
                        <ul class="social list-unstyled">
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>