<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">
        <title>HOME - SQLI</title>
    </head>
    <body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icofont-close js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body">
                <ul class="js-clone-nav d-none d-lg-inline-none text-start site-menu float-end">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="has-children">
                        <span class="arrow-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#collapseItem0"></span>
                        <a href="#">Categories</a>
                        <ul class="collapse" id="collapseItem0">
                            {{ page.header['views_block__menu_categories_block_1'] }}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="site-nav">
            <div class="container">
                <div class="site-navigation">
                    <div class="row">
                        <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
                            <a href="#" class="logo m-0 text-uppercase">MagDesign</a>
                        </div>
                        <div class="col-md-3 order-3 order-md-1">
                        {% if page.header %}
                            {{ page.header['my_theme_search'] }}
                        {% endif %}
                        </div>
                        <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
                            <div class="d-flex">
                                <ul class="list-unstyled social me-auto">
                                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                                <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block" data-toggle="collapse" data-target="#main-navbar">
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="section px-5">
            {% block main %}
            <div role="main" class="main-container {{ container }} js-quickedit-main-content">
                <div class="row">

                {# Sidebar First #}
                {% if page.sidebar_first %}
                    {% block sidebar_first %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_first }}
                    </aside>
                    {% endblock %}
                {% endif %}

                {# Content #}
                {%
                    set content_classes = [
                    page.sidebar_first and page.sidebar_second ? 'col-sm-6',
                    page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
                    page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
                    page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
                    ]
                %}
                <section{{ content_attributes.addClass(content_classes) }}>

                    {# Highlighted #}
                    {% if page.highlighted %}
                    {% block highlighted %}
                        <div class="highlighted">{{ page.highlighted }}</div>
                    {% endblock %}
                    {% endif %}

                    {# Help #}
                    {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                    {% endif %}

                    {# Content #}
                    {% block content %}
                    {{ page.content }}
                    {% endblock %}

                    {% if page.related %}
                    {% block related %}
                        {{ page.related }}
                    {% endblock %}
                    {% endif %}
                </section>

                {# Sidebar Second #}
                {% if page.sidebar_second %}
                    {% block sidebar_second %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_second }}
                    </aside>
                    {% endblock %}
                {% endif %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="py-5 bg-light {#mx-md-3#} sec-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h4 fw-bold">Subscribe to newsletter</h2>
                    </div>
                </div>
                <form action="#" class="row">
                    <div class="col-md-8">
                        <div class="mb-3 mb-md-0">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="col-md-4 d-grid">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </div>
                </form>
            </div>
        </div>
        <div class="site-footer">
            <div class="container">
                <div class="row justify-content-center copyright">
                    <div class="col-lg-7 text-center">
                        <div class="widget">
                            <ul class="social list-unstyled">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-youtube-play"></span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <p>Copyright ©<script>document.write(new Date().getFullYear());</script>
                                All rights reserved
                            </p>
                            <div class="d-block">
                                <a href="#" class="m-2">Terms &amp; Conditions</a>/
                                <a href="#" class="m-2">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlayer" style="opacity: -0.1; display: none;"></div>
            <div class="loader" style="opacity: -0.1; display: none;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </body>
</html>