<div class="section pt-5 pb-0">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <h2 class="heading">Trending</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="posts-slide-wrap">
                    <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide<span class="current">4</span>  of 4</div>
                    <div id="posts-slide-mw" class="tns-ovh">
                        <div class="tns-inner" id="posts-slide-iw">
                            <div class="posts-slide  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="posts-slide" style="transform: translate3d(-50%, 0px, 0px);">
                            {% for row in content['#view'].result %}
                                <div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                    <div class="post-entry d-lg-flex">
                                        <div class="me-lg-5 thumbnail mb-4 mb-lg-0">
                                            <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">
                                                <img src="{{file_url(row._entity.field_my_article_image.entity.uri.value)}}" alt="Image" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="content align-self-center">
                                            <div class="post-meta mb-3">
                                                {% for item in row._entity.field_categories %}
                                                {% if loop.index is not same as(1) %}, {% endif %}
                                                <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.id}) }}" class="category">{{item.entity.label}}</a>
                                                {% endfor %} —
                                                <span class="date">{{ row._entity.created.value | date('M d, Y') }}</span>
                                            </div>
                                            <h2 class="heading"><a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{row._entity.label}}</a></h2>
                                            <a href="#" class="post-author d-flex align-items-center">
                                                <div class="author-pic">
                                                    <img src="{{file_url(row._entity.owner.user_picture.entity.uri.value)}}" alt="Image" class="img-fluid">
                                                </div>
                                                <div class="text">
                                                    <strong>{{ row._entity.owner.label }}</strong>
                                                    <span>CEO and Founder</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>