<div class="section">
    <div class="container">
        <div class="row g-5">
        {% for row in content['#view'].result %}
            <div class="col-lg-4">
                <div class="post-entry d-block small-post-entry-v">
                    <div class="thumbnail">
                        <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">
                            <img src="{{file_url(row._entity.field_my_article_image.entity.uri.value)}}" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="content">
                        <div class="post-meta mb-1">
                            {% for item in row._entity.field_categories %}
                            {% if loop.index is not same as(1) %}, {% endif %}
                            <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.id}) }}" class="category">{{item.entity.label}}</a>
                            {% endfor %} —
                            <span class="date">{{ row._entity.created.value | date('M d, Y') }}</span>
                        </div>
                        <h2 class="heading mb-3"><a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{ row._entity.label }}</a></h2>
                        <a href="#" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="{{file_url(row._entity.owner.user_picture.entity.uri.value)}}" alt="Image">
                            </div>
                            <div class="text">
                                <strong>{{row._entity.owner.label }}</strong>
                                <span>CEO and Founder</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>