<div class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <h2 class="heading">Most Popular Posts</h2>
            </div>
        </div>
    </div>
    <div class="most-popular-slider-wrap px-3 px-md-0">
        <div id="most-popular-nav" aria-label="Carousel Navigation" tabindex="0">
            <span class="prev" data-controls="prev" aria-controls="most-popular-center" tabindex="-1" aria-disabled="true">Prev</span>
            <span class="next" data-controls="next" aria-controls="most-popular-center" tabindex="-1">Next</span>
        </div>
        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 2</span>  of 6</div>
            <div id="most-popular-center-mw" class="tns-ovh">
                <div class="tns-inner" id="{#most-popular-center-iw#}">
                    <div class="most-popular-slider  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="most-popular-center" style="transition-duration: 0s; transform: translate3d(0%, 0px, 0px);">
                    {% for row in content['#view'].result %}
                        <div class="item tns-item tns-slide-active" id="most-popular-center-item{{ loop.index }}">
                            <div class="post-entry d-block small-post-entry-v">
                                <div class="thumbnail">
                                    <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">
                                        <img src="{{file_url(row._entity.field_my_article_image.entity.uri.value)}}" alt="Image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="post-meta mb-1">
                                        {% for item in row._entity.field_categories %}
                                        {% if loop.index is not same as(1) %}, {% endif %}
                                        <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.id}) }}" class="category">{{item.entity.label}}</a>
                                        {% endfor %} —
                                        <span class="date">{{ row._entity.created.value | date('M d, Y') }}</span>
                                    </div>
                                    <h2 class="heading mb-3"><a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{ row._entity.label }}</a></h2>
                                    <a href="#" class="post-author d-flex align-items-center">
                                        <div class="author-pic">
                                            <img src="{{file_url(row._entity.owner.user_picture.entity.uri.value)}}" alt="Image">
                                        </div>
                                        <div class="text">
                                            <strong>{{ row._entity.owner.label }}</strong>
                                            <span>CEO and Founder</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>