<div class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading">Related</h2>
            </div>
        </div>
        <div class="row justify-content-center">
        {% for row in content['#view'].result %}
            <div class="col-lg-12">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <img src="{{file_url(row._entity.field_my_article_image.entity.uri.value)}}" alt="Image" class="img-fluid">
                    </div>
                    <div class="content">
                        <div class="post-meta mb-3">
                            {% for item in row._entity.field_categories %}
                            {% if loop.index is not same as(1) %}, {% endif %}
                            <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.id}) }}" class="category">{{item.entity.label}}</a>
                            {% endfor %} —
                            <span class="date">{{ row._entity.created.value | date('M d, Y') }}</span>
                        </div>
                        <h2 class="heading"><a href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{row._entity.label}}</a></h2>
                        <a href="#" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="{{file_url(row._entity.owner.user_picture.entity.uri.value)}}" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>{{ row._entity.owner.label }}</strong>
                                <span>Author, 26 published post</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>