<div class="input-group">
    <input title="" data-drupal-selector="edit-keys" class="form-search form-control" placeholder="Search" type="search" id="edit-keys--2" name="keys" value="" size="15" maxlength="128" data-toggle="tooltip" data-original-title="Enter the terms you wish to search for." style="height: 38px;">
    <span class="input-group-btn">
        <button type="submit" value="Search" class="button js-form-submit form-submit btn-primary btn icon-only" name="" style="height:38px;">
            <span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </span>
</div>